@keyframes itemAppear {
    from {
        //transform: scale(0);
        transition: all 0.4s;
        margin-top: 3rem;
        opacity: 0;
    } to {
        //transform: scale(1);
        transition: all 0.4s;
        margin-top: 0rem;
        opacity: 1;
    }
}

@keyframes loading{
    from{
        opacity: 1;
        z-index: 10;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}


@keyframes loader {
    0% {
        transform: rotate(0deg); border-width: 10px;
    }
    50% {
        transform: rotate(180deg); border-width: 1px;
    }
    100% {
        transform: rotate(360deg); border-width: 10px;
    }
}
