/* === Variables principales === */
$color-primary: #9356D8;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* === Variables à part === */
$color-tertiary-2: #1B6150;
$color-background-footer: #353535;
$color-background-localisation: #F3F3F3;
$color-background-menu: #F6F6F6;
$color-background-title: #FAFAFA;
$color-background-button: #686868;

/* === Taille de polices=== */
$localisation: 20px;
$title: 25px;
$text: 16px;
$card-title: 20px;
$submenu-title: 18px;
$text-button: 18px;
$price: 16px;

$logo-header-mobile: 30px;
$logo-header: 40px;
$logo-footer: 20px;
$resto-title: 20px;

/* === La taille des icones === */
$size-icon-map: 20px;
$size-icon-fonctionnement: 15px;
$size-icon-heart: 30px;
$size-icon-arrow: 30px;
$size-icon-mobile: 20px;

