/* == Parti localisation de la page d'acceuil == */
.localisation {
    display: flex;
    justify-content: center;
    background-color: $color-background-localisation;
    padding: 20px 16px;

    &__icon {
        margin-right: 15px;
        @include icon-apparence(black, $size-icon-map);
        justify-content: center;
    }
    
    &__text {
        @include police-apparence('Roboto', black, $localisation);
        font-weight: bold;
    }
}

/* == Parti titre de la page d'acceuil == */
.mainTitle {
    @include flex-use (column, center, center);
    text-align: center;
    padding: 32px 32px 64px 32px;
    background-color: $color-background-title;

    &__title {
        @include police-apparence('Roboto', black, $title);
    }

    &__text {
        @include police-apparence('Roboto', black, $text);
        font-weight: 300;
    }
}

/* == Parti fonctionnement de la page d'acceuil == */
.fonctionnement {
    padding: 32px 16px;

    .container {
        position: relative;
        margin: auto;
    }

    &__title {
        @include police-apparence('Roboto', black, $title);
        margin-top: 0;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        //mise en place d'un compteur :
        counter-reset: compteur;
        
        @media (min-width: 992px) {
            // Version desktop
            @include flex-use (row, space-around, center);
          }
    }

    &__step {
        @include flex-use (row, start, center);
        padding: 24px;
        margin: 16px 0 16px 12px;
        background-color: $color-background-menu;
        border-radius: 20px;
        position: relative;
        // explication
        box-shadow: 4px 4px 4px rgb(0 0 0 / 13%);

        &:before {
            @include flex-use (row, center, center);
            @include police-apparence('Roboto', white, $text);
            //incrementation du compteur :
            counter-increment: compteur 1;
            content: counter(compteur) " ";
            //Utiliser une mixin pour rendre la couleur plus clair
            background-color: $color-primary;
            height: 24px;
            width: 24px;
            border-radius: 100px;
            position: absolute;
            left: -12px;
        }
    }

    &__icon {
        margin-right: 16px;
        color: #7E7E7E;
    }

    &__text {
        @include police-apparence('Roboto', black, $text);
        margin-right: 16px;
    }
}

/* == Parti restaurant de la page d'acceuil == */
.restaurant {
    background-color: $color-background-menu;
    padding: 32px 16px;

    .container {
        margin: auto;
        position: relative;
    }

    &__title {
        @include police-apparence('Roboto', black, $title);
        margin-top: 0;   
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 32px;
        row-gap: 32px;

        @media (min-width: 992px) {
            // Version desktop
            grid-template-columns: repeat(2, 1fr);
          }
    }
}
