.localisation {
    display: flex;
    justify-content: center;
    background-color: $color-background-localisation;
    padding: 20px 16px;

    &__icon {
        margin-right: 15px;
        @include icon-apparence(black, $size-icon-map);
        justify-content: center;
    }
    
    &__text {
        @include police-apparence('Roboto', black, $localisation);
        font-weight: bold;
    }
}