.localisation {
    display: flex;
    justify-content: center;
    background-color: $color-background-localisation;
    padding: 20px 16px;

    &__icon {
        margin-right: 15px;
        @include icon-size(map-get($size-icon, localisation));
        justify-content: center;
    }
    
    &__text {
        @include roboto-apparence(black, map-get($font-size-roboto, localisation));
        font-weight: bold;
    }
}