.mainTitle {
    @include flex-column (center, center);
    @include centre-element;
    padding: 32px 32px 64px 32px;
    background-color: $color-background-title;

    &__title {
        @include roboto-apparence(black, map-get($font-size-roboto, title));
    }

    &__text {
        @include roboto-apparence(black, map-get($font-size-roboto, text));
        font-weight: 300;
    }
}