.heart {
    height: 32px;
    width: 32px;
    padding: 0;
    @include flex-use(row, center, center);
    cursor: pointer;
    position: relative;
    background-color: transparent;    

    &:hover .fas {
        transition: transform 200ms;
        transform: scale(1);
      }

      .far {
        position: absolute;
     }

      .fas {
        color: $color-secondary;
        position: absolute;
        transform: scale(0);
      }
}


/* ==== Test code ==== */

  