.heart {
    height: 32px;
    width: 32px;
    padding: 0;
    @include flex-use(row, center, center);
    cursor: pointer;
    position: relative;
    background-color: transparent;    

    path {
      stroke-width: 40;
      fill: transparent;
      stroke: black;
    }

    &:hover path {
      fill: url(#text-fill);
      stroke: transparent;
    }
}
