.footer {
    background-color: $color-background-footer;

    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__logo {
        @include police-apparence('Shrikhand', white, $logo-footer);
        margin: 0;
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__listelement {
        margin: 10px 0;
    }

    &__link {
        @include police-apparence('Roboto', white, $text);
        color: white;
        text-decoration: none;
    }
    
    &__icon {
        width: 20px;
        margin-right: 8px;
    }
}